<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Ubuntu&display=swap"
        rel="stylesheet">

</head>

<body>
    <form action="<%= BackEndURL %>api/auth/reset-password/<%= token %>" method="POST">

        <section id="cta">
            <div id="start">

            </div>

            <div id="card1" class="card shadow p-3 mb-5 bg-body rounded" style="width: 28rem; height: 25rem">
                <div class="card-body">
                    <h3 class="card-title">Enter your new Password</h3>
                    <h6 class="card-subtitle mb-2 text-muted">Enter a password with atleast 5 different carrecter,
                        number or special carrecter.</h6>
                    <form class="row md-3">
                        <div class="col-md-9">
                            <label for="inputPassword4" class="form-label lev-pass">Password</label>
                            <input type="password" class="form-control" name="password" id="password>
                        </div>
                        <div class=" col-12">
                            <button id="s-button" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

        </section>
    </form>
</body>

</html>